body {
    margin:0;
    padding: 0;
    font-family:Verdana;
    font-size:12px;
    color:gray;
}
#container{
    width:758px;
    margin: 0 auto;
    border-left:1px solid #DBDBDB;
    border-right:1px solid #DBDBDB;
}

#menu{
    height: 40px;
    background-color:aliceblue;
    
}

#banner{
    height:43px;
}
#breadcrumb{
    height:20px;
    background-color:; 10px;;
    padding: 10px 10px;
    font-weight:bold;

}
#breadcrumb a{
    text-decoration:none;
}
#search{
    float:right;

}

#sidebar{
    width:259px;
    float:left;
    background-color:{
  ;
    padding: 10px 10px;
}
#content {
    width: 1058px;
    float: right;
    padding: 10px 10px;
    border-left:1px dashed #DBDBDB;
    min-height:300px;
}
.clear {
    clear:both;
}
#footer{
    height:15px;
    background-image:url(images/footer.png);
    padding:8px 0;
    text-align: center;
}

/* Thiết kế cho menu*/
#menu ul{
    margin:0;
    padding: 0;
}
#menu li{
    display: inline;
}
#navigation a{
    display:block;
    float:left;
    margin: 0;
    padding:0;
    width:170px;
    height:20px;
    
    text-align:center;
    padding:10px 10px;
    text-decoration:none;
    font-weight:bold;
    color:gray;
    border-right:1px solid #DBDBDB;
}
#navigation a:hover, #navigation a:active, #navigation a.selected{
    color:blue;
}